
body {
	
	background-color: powderblue;
	 }
	h2  
	 {

		color: green;
		margin: auto;	
		font-family: 'Acme', sans-serif;
		
	 }
	h3
	{
		color: blue;
		font-family: 'Acme', sans-serif;
		
		
	}
	li
	{
		color: blue;
		font-family: 'Acme', sans-serif;
		list-style-type: none;
		
		 	

	}





	
