
body {
	border: solid;
	border-width:thin;
	background-color: powderblue;
	 }
	h2  
	 {

		color: green;
		margin: auto;	
		font-family: 'Acme', sans-serif;
		padding-left: 50px;
	 }
	h3
	{
		color: blue;
		font-family: 'Acme', sans-serif;
		padding-left: 100px;
		
	}
	li
	{
		color: blue;
		font-family: 'Acme', sans-serif;
		list-style-type: none;
		padding-left: -50px;

		 	

	}

	